<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <h1><%= title %></h1>
    <form action='/validate-address' method="get">
      <label>Address:</label>
      <input type='text' name='address'/><br/>
      <label>City: </label>
      <input type='text' name='city'/><br/>
      <label>State:</label>
      <input type='text' name='state'/><br/>
      <label>Postal Code:</label>
      <input type='text' name='postalCode'/><br/>
      <input type='submit' value="Submit"/>
    </form>
  </body>
</html>
