<!-- Load jQuery beforehand-->
<script>
  $('label').addClass('col-sm-2 col-form-label');
  $('input[type=text]').addClass('form-control');
  $('form > div ').addClass('form-group row');
  $('form > div > input[type=text] ').wrap('<div class="col"></div>');
  $('form > input[type=submit] ').wrap('<div class="text-center"></div>');

</script>
