{
  "MongoDB": {
    "host": "localhost",
    "port": 27017,
    "dbName": ""
  },
  "Maps":{
    "defaultCenterCoords": {"lat":34.096982 , "lng":-118.105444},
    "apiKey": "",
    "baseUrl": "https://maps.googleapis.com/maps/api/geocode/json",
    "publicApiKey":""
  }
}
