{
  "MongoDB": {
    "host": "localhost",
    "port": 27017,
    "dbName": "drinkclub"
  },
  "Maps":{
    "apiKey": "",
    "baseUrl": "https://maps.googleapis.com/maps/api/geocode/json",
    "publicApiKey":""
  }
}
